/*
    Document   : estiloOdontograma
    Created on : 25/01/2010, 14:43:36
    Author     : Fabricio Reis
    Description:
        Purpose of the stylesheet follows.
*/

html, body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.letrasIniciaisMaiusculas {
    text-transform: capitalize;
}

.letrasMaiusculas {
    text-transform: uppercase;
}

.letrasMinusculas {
    text-transform: lowercase;
}

.botaodefault {
    color: #333;
    width:85px;
    height:18px;
    background:url(../imagens/bgbt-med.png) no-repeat;
    font-weight: bold;
    border:none;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

.botaodefaultgra {
    color: #333;
    width:130px;
    height:18px;
    background:url(../imagens/bgbt-gra.png) no-repeat;
    font-weight: bold;
    border:none;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

.botaodefaultextrag {
    color: #333;
    width:160px;
    height:18px;
    background:url(../imagens/bgbt-extrag.png) no-repeat;
    font-weight: bold;
    border:none;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

.botaodefaultpeq {
    color: #333;
    width:30px;
    height:18px;
    background:url(../imagens/bgbt-peq.png) no-repeat;
    font-weight: bold;
    border:none;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

.divlistagem {
    overflow: auto;
    visibility: visible;
    z-index: auto;
    page-break-after: auto;
    border: thin none #CCCCCC;
    height: 100%;
    width: 100%;
}

input {
    border: 1px solid #999999;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
}

p {
    text-align:center;
}

a:link {
    text-decoration: none;
    color: #FFFFFF;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    border-top-style: none;
}

a:visited {
    text-decoration: none;
    color: #FFFFFF;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    border-top-style: none;
}

a:hover, a:focus {
    text-decoration:none;
    color: #00EE76;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    border-top-style: none;
}

table a, table a:link, table a:visited {
    border:none;
}

table {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-style: normal;
}

caption {
    color: #9ba9b4;
    font-size:.94em;
    letter-spacing:.1em;
    margin:1em 0 0 0;
    padding:0;
    caption-side:top;
    text-align:center;
}

tr.odd td{
    background:#f7fbff
}

tr.odd .column1	{
    background-color:#ebf2f9;
}

.column1{
    background:#f9fcfe;
}

td {
    color:#333333;
    /*border-bottom:1px solid #e5eff8;*/
    border-left:1px solid #e5eff8;
    border-right:1px solid #e5eff8;
    font-size: 11px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    vertical-align: middle;
}

.paddingCelulaTabela {
    padding:.3em 1em;
}

th {
    font-weight:normal;
    color: #678197;
    text-align:left;
    border-bottom: 1px solid #e5eff8;
    border-left:1px solid #e5eff8;
    border-right:1px solid #e5eff8;
    padding:.3em 1em;
    background-color: #e7e6e6;
    font-size: 12px;
    font-family: Verdana;
    font-style: normal;
}

thead th {
    background-color:#ebf2f9;
    text-align:center;
    color:#66a3d3;
    font-family: 'Century Gothic','Trebuchet MS',Arial,SansSerif;
    font-weight: bold;
    font-size: 14px;
}

tfoot th {
    text-align:center;
    background-color:#ebf2f9;
}

tfoot th strong {
    font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    margin:.5em .5em .5em 0;
    color:#66a3d3;
}

tfoot th em {
    color:#f03b58;
    font-weight: bold;
    font-size: 1.1em;
    font-style: normal;
}

.raiz {background:url(../imagens/faces/r-off.gif); border-left:0px; border-right:0px;}
.faceSuperior {background:url(../imagens/faces/ced-off.gif); border-left:0px; border-right:0px;}
.faceEsquerda {background:url(../imagens/faces/e-off.gif); border-left:0px; border-right:0px;}
.faceDireita {background:url(../imagens/faces/d-off.gif); border-left:0px; border-right:0px;}
.faceInferior {background:url(../imagens/faces/bed-off.gif); border-left:0px; border-right:0px;}


/* BRANCO */
.bb_eb_db {background:url(../imagens/faces/bb_eb_db.gif); border-left:0px; border-right:0px; height:21px;}
.cb_eb_db {background:url(../imagens/faces/cb_eb_db.gif); border-left:0px; border-right:0px; height:21px;}
.db {background:url(../imagens/faces/db.gif); border-left:0px; border-right:0px; width:21px;}
.eb {background:url(../imagens/faces/eb.gif); border-left:0px; border-right:0px; height:28px; width:21px;}
.rb {background:url(../imagens/faces/rb.gif); border-left:0px; border-right:0px; height:21px;}

/* AMARELO BRANCO */
.ba_ea_da {background:url(../imagens/faces/ba_ea_da.gif); border-left:0px; border-right:0px; height:21px;}
.bb_eb_da {background:url(../imagens/faces/bb_eb_da.gif); border-left:0px; border-right:0px; height:21px;}
.ba_ea_db {background:url(../imagens/faces/ba_ea_db.gif); border-left:0px; border-right:0px; height:21px;}
.bb_ea_da {background:url(../imagens/faces/bb_ea_da.gif); border-left:0px; border-right:0px; height:21px;}
.bb_ea_db {background:url(../imagens/faces/bb_ea_db.gif); border-left:0px; border-right:0px; height:21px;}
.ba_eb_db {background:url(../imagens/faces/ba_eb_db.gif); border-left:0px; border-right:0px; height:21px;}
.ba_eb_da {background:url(../imagens/faces/ba_eb_da.gif); border-left:0px; border-right:0px; height:21px;}
.ca_ea_da {background:url(../imagens/faces/ca_ea_da.gif); border-left:0px; border-right:0px; height:21px;}
.cb_eb_da {background:url(../imagens/faces/cb_eb_da.gif); border-left:0px; border-right:0px; height:21px;}
.ca_ea_db {background:url(../imagens/faces/ca_ea_db.gif); border-left:0px; border-right:0px; height:21px;}
.cb_ea_da {background:url(../imagens/faces/cb_ea_da.gif); border-left:0px; border-right:0px; height:21px;}
.cb_ea_db {background:url(../imagens/faces/cb_ea_db.gif); border-left:0px; border-right:0px; height:21px;}
.ca_eb_db {background:url(../imagens/faces/ca_eb_db.gif); border-left:0px; border-right:0px; height:21px;}
.ca_eb_da {background:url(../imagens/faces/ca_eb_da.gif); border-left:0px; border-right:0px; height:21px;}
.da {background:url(../imagens/faces/da.gif); border-left:0px; border-right:0px; width:21px;}
.ea {background:url(../imagens/faces/ea.gif); border-left:0px; border-right:0px; height:28px; width:21px;}
.ra {background:url(../imagens/faces/ra.gif); border-left:0px; border-right:0px; height:21px;}

/* AMARELO AZUL BRANCO */
.ba_ea_daz {background:url(../imagens/faces/ba_ea_daz.gif); border-left:0px; border-right:0px; height:21px;}
.ba_eaz_da {background:url(../imagens/faces/ba_eaz_da.gif); border-left:0px; border-right:0px; height:21px;}
.ba_eaz_daz {background:url(../imagens/faces/ba_eaz_daz.gif); border-left:0px; border-right:0px; height:21px;}
.ba_eaz_db {background:url(../imagens/faces/ba_eaz_db.gif); border-left:0px; border-right:0px; height:21px;}
.ba_eb_daz {background:url(../imagens/faces/ba_eb_daz.gif); border-left:0px; border-right:0px; height:21px;}
.ca_ea_daz {background:url(../imagens/faces/ca_ea_daz.gif); border-left:0px; border-right:0px; height:21px;}
.ca_eaz_da {background:url(../imagens/faces/ca_eaz_da.gif); border-left:0px; border-right:0px; height:21px;}
.ca_eaz_daz {background:url(../imagens/faces/ca_eaz_daz.gif); border-left:0px; border-right:0px; height:21px;}
.ca_eaz_db {background:url(../imagens/faces/ca_eaz_db.gif); border-left:0px; border-right:0px; height:21px;}
.ca_eb_daz {background:url(../imagens/faces/ca_eb_daz.gif); border-left:0px; border-right:0px; height:21px;}

/* AMARELO CINZA BRANCO */
.ba_ea_dc {background:url(../imagens/faces/ba_ea_dc.gif); border-left:0px; border-right:0px; height:21px;}
.ba_ec_da {background:url(../imagens/faces/ba_ec_da.gif); border-left:0px; border-right:0px; height:21px;}
.ba_ec_dc {background:url(../imagens/faces/ba_ec_dc.gif); border-left:0px; border-right:0px; height:21px;}
.ba_ec_db {background:url(../imagens/faces/ba_ec_db.gif); border-left:0px; border-right:0px; height:21px;}
.ba_eb_dc {background:url(../imagens/faces/ba_eb_dc.gif); border-left:0px; border-right:0px; height:21px;}
.ca_ea_dc {background:url(../imagens/faces/ca_ea_dc.gif); border-left:0px; border-right:0px; height:21px;}
.ca_ec_da {background:url(../imagens/faces/ca_ec_da.gif); border-left:0px; border-right:0px; height:21px;}
.ca_ec_dc {background:url(../imagens/faces/ca_ec_dc.gif); border-left:0px; border-right:0px; height:21px;}
.ca_ec_db {background:url(../imagens/faces/ca_ec_db.gif); border-left:0px; border-right:0px; height:21px;}
.ca_eb_dc {background:url(../imagens/faces/ca_eb_dc.gif); border-left:0px; border-right:0px; height:21px;}

/* AMARELO VERDE BRANCO */
.ba_ea_dv {background:url(../imagens/faces/ba_ea_dv.gif); border-left:0px; border-right:0px; height:21px;}
.ba_ev_da {background:url(../imagens/faces/ba_ev_da.gif); border-left:0px; border-right:0px; height:21px;}
.ba_ev_dv {background:url(../imagens/faces/ba_ev_dv.gif); border-left:0px; border-right:0px; height:21px;}
.ba_ev_db {background:url(../imagens/faces/ba_ev_db.gif); border-left:0px; border-right:0px; height:21px;}
.ba_eb_dv {background:url(../imagens/faces/ba_eb_dv.gif); border-left:0px; border-right:0px; height:21px;}
.ca_ea_dv {background:url(../imagens/faces/ca_ea_dv.gif); border-left:0px; border-right:0px; height:21px;}
.ca_ev_da {background:url(../imagens/faces/ca_ev_da.gif); border-left:0px; border-right:0px; height:21px;}
.ca_ev_dv {background:url(../imagens/faces/ca_ev_dv.gif); border-left:0px; border-right:0px; height:21px;}
.ca_ev_db {background:url(../imagens/faces/ca_ev_db.gif); border-left:0px; border-right:0px; height:21px;}
.ca_eb_dv {background:url(../imagens/faces/ca_eb_dv.gif); border-left:0px; border-right:0px; height:21px;}

/* AMARELO AZUL CINZA VERDE */
.ba_eaz_dc {background:url(../imagens/faces/ba_eaz_dc.gif); border-left:0px; border-right:0px; height:21px;}
.ba_eaz_dv {background:url(../imagens/faces/ba_eaz_dv.gif); border-left:0px; border-right:0px; height:21px;}
.ba_ec_daz {background:url(../imagens/faces/ba_ec_daz.gif); border-left:0px; border-right:0px; height:21px;}
.ba_ec_dv {background:url(../imagens/faces/ba_ec_dv.gif); border-left:0px; border-right:0px; height:21px;}
.ba_ev_daz {background:url(../imagens/faces/ba_ev_daz.gif); border-left:0px; border-right:0px; height:21px;}
.ba_ev_dc {background:url(../imagens/faces/ba_ev_dc.gif); border-left:0px; border-right:0px; height:21px;}
.ca_eaz_dc {background:url(../imagens/faces/ca_eaz_dc.gif); border-left:0px; border-right:0px; height:21px;}
.ca_eaz_dv {background:url(../imagens/faces/ca_eaz_dv.gif); border-left:0px; border-right:0px; height:21px;}
.ca_ec_daz {background:url(../imagens/faces/ca_ec_daz.gif); border-left:0px; border-right:0px; height:21px;}
.ca_ec_dv {background:url(../imagens/faces/ca_ec_dv.gif); border-left:0px; border-right:0px; height:21px;}
.ca_ev_daz {background:url(../imagens/faces/ca_ev_daz.gif); border-left:0px; border-right:0px; height:21px;}
.ca_ev_dc {background:url(../imagens/faces/ca_ev_dc.gif); border-left:0px; border-right:0px; height:21px;}

/* ------------------------------------------------------------------------------------------------------ */

/* AZUL BRANCO */
.baz_eaz_daz {background:url(../imagens/faces/baz_eaz_daz.gif); border-left:0px; border-right:0px; height:21px;}
.bb_eb_daz {background:url(../imagens/faces/bb_eb_daz.gif); border-left:0px; border-right:0px; height:21px;}
.baz_eaz_db {background:url(../imagens/faces/baz_eaz_db.gif); border-left:0px; border-right:0px; height:21px;}
.bb_eaz_daz {background:url(../imagens/faces/bb_eaz_daz.gif); border-left:0px; border-right:0px; height:21px;}
.bb_eaz_db {background:url(../imagens/faces/bb_eaz_db.gif); border-left:0px; border-right:0px; height:21px;}
.baz_eb_db {background:url(../imagens/faces/baz_eb_db.gif); border-left:0px; border-right:0px; height:21px;}
.baz_eb_daz {background:url(../imagens/faces/baz_eb_daz.gif); border-left:0px; border-right:0px; height:21px;}
.caz_eaz_daz {background:url(../imagens/faces/caz_eaz_daz.gif); border-left:0px; border-right:0px; height:21px;}
.cb_eb_daz {background:url(../imagens/faces/cb_eb_daz.gif); border-left:0px; border-right:0px; height:21px;}
.caz_eaz_db {background:url(../imagens/faces/caz_eaz_db.gif); border-left:0px; border-right:0px; height:21px;}
.cb_eaz_daz {background:url(../imagens/faces/cb_eaz_daz.gif); border-left:0px; border-right:0px; height:21px;}
.cb_eaz_db {background:url(../imagens/faces/cb_eaz_db.gif); border-left:0px; border-right:0px; height:21px;}
.caz_eb_db {background:url(../imagens/faces/caz_eb_db.gif); border-left:0px; border-right:0px; height:21px;}
.caz_eb_daz {background:url(../imagens/faces/caz_eb_daz.gif); border-left:0px; border-right:0px; height:21px;}
.daz {background:url(../imagens/faces/daz.gif); border-left:0px; border-right:0px; width:21px;}
.eaz {background:url(../imagens/faces/eaz.gif); border-left:0px; border-right:0px; height:28px; width:21px;}
.raz {background:url(../imagens/faces/raz.gif); border-left:0px; border-right:0px; height:21px;}

/* AZUL AMARELO BRANCO */
.baz_eaz_da {background:url(../imagens/faces/baz_eaz_da.gif); border-left:0px; border-right:0px; height:21px;}
.baz_ea_daz {background:url(../imagens/faces/baz_ea_daz.gif); border-left:0px; border-right:0px; height:21px;}
.baz_ea_da {background:url(../imagens/faces/baz_ea_da.gif); border-left:0px; border-right:0px; height:21px;}
.baz_ea_db {background:url(../imagens/faces/baz_ea_db.gif); border-left:0px; border-right:0px; height:21px;}
.baz_eb_da {background:url(../imagens/faces/baz_eb_da.gif); border-left:0px; border-right:0px; height:21px;}
.caz_eaz_da {background:url(../imagens/faces/caz_eaz_da.gif); border-left:0px; border-right:0px; height:21px;}
.caz_ea_daz {background:url(../imagens/faces/caz_ea_daz.gif); border-left:0px; border-right:0px; height:21px;}
.caz_ea_da {background:url(../imagens/faces/caz_ea_da.gif); border-left:0px; border-right:0px; height:21px;}
.caz_ea_db {background:url(../imagens/faces/caz_ea_db.gif); border-left:0px; border-right:0px; height:21px;}
.caz_eb_da {background:url(../imagens/faces/caz_eb_da.gif); border-left:0px; border-right:0px; height:21px;}

/* AZUL CINZA BRANCO */
.baz_eaz_dc {background:url(../imagens/faces/baz_eaz_dc.gif); border-left:0px; border-right:0px; height:21px;}
.baz_ec_daz {background:url(../imagens/faces/baz_ec_daz.gif); border-left:0px; border-right:0px; height:21px;}
.baz_ec_dc {background:url(../imagens/faces/baz_ec_dc.gif); border-left:0px; border-right:0px; height:21px;}
.baz_ec_db {background:url(../imagens/faces/baz_ec_db.gif); border-left:0px; border-right:0px; height:21px;}
.baz_eb_dc {background:url(../imagens/faces/baz_eb_dc.gif); border-left:0px; border-right:0px; height:21px;}
.caz_eaz_dc {background:url(../imagens/faces/caz_eaz_dc.gif); border-left:0px; border-right:0px; height:21px;}
.caz_ec_daz {background:url(../imagens/faces/caz_ec_daz.gif); border-left:0px; border-right:0px; height:21px;}
.caz_ec_dc {background:url(../imagens/faces/caz_ec_dc.gif); border-left:0px; border-right:0px; height:21px;}
.caz_ec_db {background:url(../imagens/faces/caz_ec_db.gif); border-left:0px; border-right:0px; height:21px;}
.caz_eb_dc {background:url(../imagens/faces/caz_eb_dc.gif); border-left:0px; border-right:0px; height:21px;}

/* AZUL VERDE BRANCO */
.baz_eaz_dv {background:url(../imagens/faces/baz_eaz_dv.gif); border-left:0px; border-right:0px; height:21px;}
.baz_ev_daz {background:url(../imagens/faces/baz_ev_daz.gif); border-left:0px; border-right:0px; height:21px;}
.baz_ev_dv {background:url(../imagens/faces/baz_ev_dv.gif); border-left:0px; border-right:0px; height:21px;}
.baz_ev_db {background:url(../imagens/faces/baz_ev_db.gif); border-left:0px; border-right:0px; height:21px;}
.baz_eb_dv {background:url(../imagens/faces/baz_eb_dv.gif); border-left:0px; border-right:0px; height:21px;}
.caz_eaz_dv {background:url(../imagens/faces/caz_eaz_dv.gif); border-left:0px; border-right:0px; height:21px;}
.caz_ev_daz {background:url(../imagens/faces/caz_ev_daz.gif); border-left:0px; border-right:0px; height:21px;}
.caz_ev_dv {background:url(../imagens/faces/caz_ev_dv.gif); border-left:0px; border-right:0px; height:21px;}
.caz_ev_db {background:url(../imagens/faces/caz_ev_db.gif); border-left:0px; border-right:0px; height:21px;}
.caz_eb_dv {background:url(../imagens/faces/caz_eb_dv.gif); border-left:0px; border-right:0px; height:21px;}

/* AZUL AMARELO CINZA VERDE */
.baz_ea_dc {background:url(../imagens/faces/baz_ea_dc.gif); border-left:0px; border-right:0px; height:21px;}
.baz_ea_dv {background:url(../imagens/faces/baz_ea_dv.gif); border-left:0px; border-right:0px; height:21px;}
.baz_ec_da {background:url(../imagens/faces/baz_ec_da.gif); border-left:0px; border-right:0px; height:21px;}
.baz_ec_dv {background:url(../imagens/faces/baz_ec_dv.gif); border-left:0px; border-right:0px; height:21px;}
.baz_ev_da {background:url(../imagens/faces/baz_ev_da.gif); border-left:0px; border-right:0px; height:21px;}
.baz_ev_dc {background:url(../imagens/faces/baz_ev_dc.gif); border-left:0px; border-right:0px; height:21px;}
.caz_ea_dc {background:url(../imagens/faces/caz_ea_dc.gif); border-left:0px; border-right:0px; height:21px;}
.caz_ea_dv {background:url(../imagens/faces/caz_ea_dv.gif); border-left:0px; border-right:0px; height:21px;}
.caz_ec_da {background:url(../imagens/faces/caz_ec_da.gif); border-left:0px; border-right:0px; height:21px;}
.caz_ec_dv {background:url(../imagens/faces/caz_ec_dv.gif); border-left:0px; border-right:0px; height:21px;}
.caz_ev_da {background:url(../imagens/faces/caz_ev_da.gif); border-left:0px; border-right:0px; height:21px;}
.caz_ev_dc {background:url(../imagens/faces/caz_ev_dc.gif); border-left:0px; border-right:0px; height:21px;}

/* ------------------------------------------------------------------------------------------------------ */

/* VERDE BRANCO */
.bv_ev_dv {background:url(../imagens/faces/bv_ev_dv.gif); border-left:0px; border-right:0px; height:21px;}
.bb_eb_dv {background:url(../imagens/faces/bb_eb_dv.gif); border-left:0px; border-right:0px; height:21px;}
.bv_ev_db {background:url(../imagens/faces/bv_ev_db.gif); border-left:0px; border-right:0px; height:21px;}
.bb_ev_dv {background:url(../imagens/faces/bb_ev_dv.gif); border-left:0px; border-right:0px; height:21px;}
.bb_ev_db {background:url(../imagens/faces/bb_ev_db.gif); border-left:0px; border-right:0px; height:21px;}
.bv_eb_db {background:url(../imagens/faces/bv_eb_db.gif); border-left:0px; border-right:0px; height:21px;}
.bv_eb_dv {background:url(../imagens/faces/bv_eb_dv.gif); border-left:0px; border-right:0px; height:21px;}
.cv_ev_dv {background:url(../imagens/faces/cv_ev_dv.gif); border-left:0px; border-right:0px; height:21px;}
.cb_eb_dv {background:url(../imagens/faces/cb_eb_dv.gif); border-left:0px; border-right:0px; height:21px;}
.cv_ev_db {background:url(../imagens/faces/cv_ev_db.gif); border-left:0px; border-right:0px; height:21px;}
.cb_ev_dv {background:url(../imagens/faces/cb_ev_dv.gif); border-left:0px; border-right:0px; height:21px;}
.cb_ev_db {background:url(../imagens/faces/cb_ev_db.gif); border-left:0px; border-right:0px; height:21px;}
.cv_eb_db {background:url(../imagens/faces/cv_eb_db.gif); border-left:0px; border-right:0px; height:21px;}
.cv_eb_dv {background:url(../imagens/faces/cv_eb_dv.gif); border-left:0px; border-right:0px; height:21px;}
.dv {background:url(../imagens/faces/dv.gif); border-left:0px; border-right:0px; width:21px;}
.ev {background:url(../imagens/faces/ev.gif); border-left:0px; border-right:0px; height:28px; width:21px;}
.rv {background:url(../imagens/faces/rv.gif); border-left:0px; border-right:0px; height:21px;}

/* VERDE AMARELO BRANCO */
.bv_ev_da {background:url(../imagens/faces/bv_ev_da.gif); border-left:0px; border-right:0px; height:21px;}
.bv_ea_dv {background:url(../imagens/faces/bv_ea_dv.gif); border-left:0px; border-right:0px; height:21px;}
.bv_ea_da {background:url(../imagens/faces/bv_ea_da.gif); border-left:0px; border-right:0px; height:21px;}
.bv_ea_db {background:url(../imagens/faces/bv_ea_db.gif); border-left:0px; border-right:0px; height:21px;}
.bv_eb_da {background:url(../imagens/faces/bv_eb_da.gif); border-left:0px; border-right:0px; height:21px;}
.cv_ev_da {background:url(../imagens/faces/cv_ev_da.gif); border-left:0px; border-right:0px; height:21px;}
.cv_ea_dv {background:url(../imagens/faces/cv_ea_dv.gif); border-left:0px; border-right:0px; height:21px;}
.cv_ea_da {background:url(../imagens/faces/cv_ea_da.gif); border-left:0px; border-right:0px; height:21px;}
.cv_ea_db {background:url(../imagens/faces/cv_ea_db.gif); border-left:0px; border-right:0px; height:21px;}
.cv_eb_da {background:url(../imagens/faces/cv_eb_da.gif); border-left:0px; border-right:0px; height:21px;}

/* VERDE CINZA BRANCO */
.bv_ev_dc {background:url(../imagens/faces/bv_ev_dc.gif); border-left:0px; border-right:0px; height:21px;}
.bv_ec_dv {background:url(../imagens/faces/bv_ec_dv.gif); border-left:0px; border-right:0px; height:21px;}
.bv_ec_dc {background:url(../imagens/faces/bv_ec_dc.gif); border-left:0px; border-right:0px; height:21px;}
.bv_ec_db {background:url(../imagens/faces/bv_ec_db.gif); border-left:0px; border-right:0px; height:21px;}
.bv_eb_dc {background:url(../imagens/faces/bv_eb_dc.gif); border-left:0px; border-right:0px; height:21px;}
.cv_ev_dc {background:url(../imagens/faces/cv_ev_dc.gif); border-left:0px; border-right:0px; height:21px;}
.cv_ec_dv {background:url(../imagens/faces/cv_ec_dv.gif); border-left:0px; border-right:0px; height:21px;}
.cv_ec_dc {background:url(../imagens/faces/cv_ec_dc.gif); border-left:0px; border-right:0px; height:21px;}
.cv_ec_db {background:url(../imagens/faces/cv_ec_db.gif); border-left:0px; border-right:0px; height:21px;}
.cv_eb_dc {background:url(../imagens/faces/cv_eb_dc.gif); border-left:0px; border-right:0px; height:21px;}

/* VERDE AZUL BRANCO */
.bv_ev_daz {background:url(../imagens/faces/bv_ev_daz.gif); border-left:0px; border-right:0px; height:21px;}
.bv_eaz_dv {background:url(../imagens/faces/bv_eaz_dv.gif); border-left:0px; border-right:0px; height:21px;}
.bv_eaz_daz {background:url(../imagens/faces/bv_eaz_daz.gif); border-left:0px; border-right:0px; height:21px;}
.bv_eaz_db {background:url(../imagens/faces/bv_eaz_db.gif); border-left:0px; border-right:0px; height:21px;}
.bv_eb_daz {background:url(../imagens/faces/bv_eb_daz.gif); border-left:0px; border-right:0px; height:21px;}
.cv_ev_daz {background:url(../imagens/faces/cv_ev_daz.gif); border-left:0px; border-right:0px; height:21px;}
.cv_eaz_dv {background:url(../imagens/faces/cv_eaz_dv.gif); border-left:0px; border-right:0px; height:21px;}
.cv_eaz_daz {background:url(../imagens/faces/cv_eaz_daz.gif); border-left:0px; border-right:0px; height:21px;}
.cv_eaz_db {background:url(../imagens/faces/cv_eaz_db.gif); border-left:0px; border-right:0px; height:21px;}
.cv_eb_daz {background:url(../imagens/faces/cv_eb_daz.gif); border-left:0px; border-right:0px; height:21px;}

/* VERDE AZUL AMARELO CINZA */
.bv_ea_dc {background:url(../imagens/faces/bv_ea_dc.gif); border-left:0px; border-right:0px; height:21px;}
.bv_ea_daz {background:url(../imagens/faces/bv_ea_daz.gif); border-left:0px; border-right:0px; height:21px;}
.bv_ec_da {background:url(../imagens/faces/bv_ec_da.gif); border-left:0px; border-right:0px; height:21px;}
.bv_ec_daz {background:url(../imagens/faces/bv_ec_daz.gif); border-left:0px; border-right:0px; height:21px;}
.bv_eaz_da {background:url(../imagens/faces/bv_eaz_da.gif); border-left:0px; border-right:0px; height:21px;}
.bv_eaz_dc {background:url(../imagens/faces/bv_eaz_dc.gif); border-left:0px; border-right:0px; height:21px;}
.cv_ea_dc {background:url(../imagens/faces/cv_ea_dc.gif); border-left:0px; border-right:0px; height:21px;}
.cv_ea_daz {background:url(../imagens/faces/cv_ea_daz.gif); border-left:0px; border-right:0px; height:21px;}
.cv_ec_da {background:url(../imagens/faces/cv_ec_da.gif); border-left:0px; border-right:0px; height:21px;}
.cv_ec_daz {background:url(../imagens/faces/cv_ec_daz.gif); border-left:0px; border-right:0px; height:21px;}
.cv_eaz_da {background:url(../imagens/faces/cv_eaz_da.gif); border-left:0px; border-right:0px; height:21px;}
.cv_eaz_dc {background:url(../imagens/faces/cv_eaz_dc.gif); border-left:0px; border-right:0px; height:21px;}

/* ------------------------------------------------------------------------------------------------------ */

/* CINZA BRANCO */
.bc_ec_dc {background:url(../imagens/faces/bc_ec_dc.gif); border-left:0px; border-right:0px; height:21px;}
.bb_eb_dc {background:url(../imagens/faces/bb_eb_dc.gif); border-left:0px; border-right:0px; height:21px;}
.bc_ec_db {background:url(../imagens/faces/bc_ec_db.gif); border-left:0px; border-right:0px; height:21px;}
.bb_ec_dc {background:url(../imagens/faces/bb_ec_dc.gif); border-left:0px; border-right:0px; height:21px;}
.bb_ec_db {background:url(../imagens/faces/bb_ec_db.gif); border-left:0px; border-right:0px; height:21px;}
.bc_eb_db {background:url(../imagens/faces/bc_eb_db.gif); border-left:0px; border-right:0px; height:21px;}
.bc_eb_dc {background:url(../imagens/faces/bc_eb_dc.gif); border-left:0px; border-right:0px; height:21px;}
.cc_ec_dc {background:url(../imagens/faces/cc_ec_dc.gif); border-left:0px; border-right:0px; height:21px;}
.cb_eb_dc {background:url(../imagens/faces/cb_eb_dc.gif); border-left:0px; border-right:0px; height:21px;}
.cc_ec_db {background:url(../imagens/faces/cc_ec_db.gif); border-left:0px; border-right:0px; height:21px;}
.cb_ec_dc {background:url(../imagens/faces/cb_ec_dc.gif); border-left:0px; border-right:0px; height:21px;}
.cb_ec_db {background:url(../imagens/faces/cb_ec_db.gif); border-left:0px; border-right:0px; height:21px;}
.cc_eb_db {background:url(../imagens/faces/cc_eb_db.gif); border-left:0px; border-right:0px; height:21px;}
.cc_eb_dc {background:url(../imagens/faces/cc_eb_dc.gif); border-left:0px; border-right:0px; height:21px;}
.dc {background:url(../imagens/faces/dc.gif); border-left:0px; border-right:0px; width:21px;}
.ec {background:url(../imagens/faces/ec.gif); border-left:0px; border-right:0px; height:28px; width:21px;}
.rc {background:url(../imagens/faces/rc.gif); border-left:0px; border-right:0px; height:21px;}

/* CINZA AMARELO BRANCO */
.bc_ec_da {background:url(../imagens/faces/bc_ec_da.gif); border-left:0px; border-right:0px; height:21px;}
.bc_ea_dc {background:url(../imagens/faces/bc_ea_dc.gif); border-left:0px; border-right:0px; height:21px;}
.bc_ea_da {background:url(../imagens/faces/bc_ea_da.gif); border-left:0px; border-right:0px; height:21px;}
.bc_ea_db {background:url(../imagens/faces/bc_ea_db.gif); border-left:0px; border-right:0px; height:21px;}
.bc_eb_da {background:url(../imagens/faces/bc_eb_da.gif); border-left:0px; border-right:0px; height:21px;}
.cc_ec_da {background:url(../imagens/faces/cc_ec_da.gif); border-left:0px; border-right:0px; height:21px;}
.cc_ea_dc {background:url(../imagens/faces/cc_ea_dc.gif); border-left:0px; border-right:0px; height:21px;}
.cc_ea_da {background:url(../imagens/faces/cc_ea_da.gif); border-left:0px; border-right:0px; height:21px;}
.cc_ea_db {background:url(../imagens/faces/cc_ea_db.gif); border-left:0px; border-right:0px; height:21px;}
.cc_eb_da {background:url(../imagens/faces/cc_eb_da.gif); border-left:0px; border-right:0px; height:21px;}

/* CINZA AZUL BRANCO */
.bc_ec_daz {background:url(../imagens/faces/bc_ec_daz.gif); border-left:0px; border-right:0px; height:21px;}
.bc_eaz_dc {background:url(../imagens/faces/bc_eaz_dc.gif); border-left:0px; border-right:0px; height:21px;}
.bc_eaz_daz {background:url(../imagens/faces/bc_eaz_daz.gif); border-left:0px; border-right:0px; height:21px;}
.bc_eaz_db {background:url(../imagens/faces/bc_eaz_db.gif); border-left:0px; border-right:0px; height:21px;}
.bc_eb_daz {background:url(../imagens/faces/bc_eb_daz.gif); border-left:0px; border-right:0px; height:21px;}
.cc_ec_daz {background:url(../imagens/faces/cc_ec_daz.gif); border-left:0px; border-right:0px; height:21px;}
.cc_eaz_dc {background:url(../imagens/faces/cc_eaz_dc.gif); border-left:0px; border-right:0px; height:21px;}
.cc_eaz_daz {background:url(../imagens/faces/cc_eaz_daz.gif); border-left:0px; border-right:0px; height:21px;}
.cc_eaz_db {background:url(../imagens/faces/cc_eaz_db.gif); border-left:0px; border-right:0px; height:21px;}
.cc_eb_daz {background:url(../imagens/faces/cc_eb_daz.gif); border-left:0px; border-right:0px; height:21px;}

/* CINZA VERDE BRANCO */
.bc_ec_dv {background:url(../imagens/faces/bc_ec_dv.gif); border-left:0px; border-right:0px; height:21px;}
.bc_ev_dc {background:url(../imagens/faces/bc_ev_dc.gif); border-left:0px; border-right:0px; height:21px;}
.bc_ev_dv {background:url(../imagens/faces/bc_ev_dv.gif); border-left:0px; border-right:0px; height:21px;}
.bc_ev_db {background:url(../imagens/faces/bc_ev_db.gif); border-left:0px; border-right:0px; height:21px;}
.bc_eb_dv {background:url(../imagens/faces/bc_eb_dv.gif); border-left:0px; border-right:0px; height:21px;}
.cc_ec_dv {background:url(../imagens/faces/cc_ec_dv.gif); border-left:0px; border-right:0px; height:21px;}
.cc_ev_dc {background:url(../imagens/faces/cc_ev_dc.gif); border-left:0px; border-right:0px; height:21px;}
.cc_ev_dv {background:url(../imagens/faces/cc_ev_dv.gif); border-left:0px; border-right:0px; height:21px;}
.cc_ev_db {background:url(../imagens/faces/cc_ev_db.gif); border-left:0px; border-right:0px; height:21px;}
.cc_eb_dv {background:url(../imagens/faces/cc_eb_dv.gif); border-left:0px; border-right:0px; height:21px;}

/* CINZA AZUL AMARELO VERDE */
.bc_ea_daz {background:url(../imagens/faces/bc_ea_daz.gif); border-left:0px; border-right:0px; height:21px;}
.bc_ea_dv {background:url(../imagens/faces/bc_ea_dv.gif); border-left:0px; border-right:0px; height:21px;}
.bc_eaz_da {background:url(../imagens/faces/bc_eaz_da.gif); border-left:0px; border-right:0px; height:21px;}
.bc_eaz_dv {background:url(../imagens/faces/bc_eaz_dv.gif); border-left:0px; border-right:0px; height:21px;}
.bc_ev_da {background:url(../imagens/faces/bc_ev_da.gif); border-left:0px; border-right:0px; height:21px;}
.bc_ev_daz {background:url(../imagens/faces/bc_ev_daz.gif); border-left:0px; border-right:0px; height:21px;}
.cc_ea_daz {background:url(../imagens/faces/cc_ea_daz.gif); border-left:0px; border-right:0px; height:21px;}
.cc_ea_dv {background:url(../imagens/faces/cc_ea_dv.gif); border-left:0px; border-right:0px; height:21px;}
.cc_eaz_da {background:url(../imagens/faces/cc_eaz_da.gif); border-left:0px; border-right:0px; height:21px;}
.cc_eaz_dv {background:url(../imagens/faces/cc_eaz_dv.gif); border-left:0px; border-right:0px; height:21px;}
.cc_ev_da {background:url(../imagens/faces/cc_ev_da.gif); border-left:0px; border-right:0px; height:21px;}
.cc_ev_daz {background:url(../imagens/faces/cc_ev_daz.gif); border-left:0px; border-right:0px; height:21px;}

/* ------------------------------------------------------------------------------------------------------ */

/* BRANCO AZUL CINZA AMARELO VERDE */
.bb_ea_daz {background:url(../imagens/faces/bb_ea_daz.gif); border-left:0px; border-right:0px; height:21px;}
.bb_ea_dc {background:url(../imagens/faces/bb_ea_dc.gif); border-left:0px; border-right:0px; height:21px;}
.bb_ea_dv {background:url(../imagens/faces/bb_ea_dv.gif); border-left:0px; border-right:0px; height:21px;}
.bb_eaz_da {background:url(../imagens/faces/bb_eaz_da.gif); border-left:0px; border-right:0px; height:21px;}
.bb_eaz_dc {background:url(../imagens/faces/bb_eaz_dc.gif); border-left:0px; border-right:0px; height:21px;}
.bb_eaz_dv {background:url(../imagens/faces/bb_eaz_dv.gif); border-left:0px; border-right:0px; height:21px;}
.bb_ec_da {background:url(../imagens/faces/bb_ec_da.gif); border-left:0px; border-right:0px; height:21px;}
.bb_ec_daz {background:url(../imagens/faces/bb_ec_daz.gif); border-left:0px; border-right:0px; height:21px;}
.bb_ec_dv {background:url(../imagens/faces/bb_ec_dv.gif); border-left:0px; border-right:0px; height:21px;}
.bb_ev_da {background:url(../imagens/faces/bb_ev_da.gif); border-left:0px; border-right:0px; height:21px;}
.bb_ev_daz {background:url(../imagens/faces/bb_ev_daz.gif); border-left:0px; border-right:0px; height:21px;}
.bb_ev_dc {background:url(../imagens/faces/bb_ev_dc.gif); border-left:0px; border-right:0px; height:21px;}
.cb_ea_daz {background:url(../imagens/faces/cb_ea_daz.gif); border-left:0px; border-right:0px; height:21px;}
.cb_ea_dc {background:url(../imagens/faces/cb_ea_dc.gif); border-left:0px; border-right:0px; height:21px;}
.cb_ea_dv {background:url(../imagens/faces/cb_ea_dv.gif); border-left:0px; border-right:0px; height:21px;}
.cb_eaz_da {background:url(../imagens/faces/cb_eaz_da.gif); border-left:0px; border-right:0px; height:21px;}
.cb_eaz_dc {background:url(../imagens/faces/cb_eaz_dc.gif); border-left:0px; border-right:0px; height:21px;}
.cb_eaz_dv {background:url(../imagens/faces/cb_eaz_dv.gif); border-left:0px; border-right:0px; height:21px;}
.cb_ec_da {background:url(../imagens/faces/cb_ec_da.gif); border-left:0px; border-right:0px; height:21px;}
.cb_ec_daz {background:url(../imagens/faces/cb_ec_daz.gif); border-left:0px; border-right:0px; height:21px;}
.cb_ec_dv {background:url(../imagens/faces/cb_ec_dv.gif); border-left:0px; border-right:0px; height:21px;}
.cb_ev_da {background:url(../imagens/faces/cb_ev_da.gif); border-left:0px; border-right:0px; height:21px;}
.cb_ev_daz {background:url(../imagens/faces/cb_ev_daz.gif); border-left:0px; border-right:0px; height:21px;}
.cb_ev_dc {background:url(../imagens/faces/cb_ev_dc.gif); border-left:0px; border-right:0px; height:21px;}